.advantage {
  &__title {
    margin-bottom: 10px;
  }

  &__list {
    text-align: center;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__description {
    text-align: start;
    color: $secondary-color;
    margin-bottom: 0;
  }

  &__list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
  }
}

@media screen and (min-width: 768px) {
  .advantage {
    &__list {
      display: flex;
      flex-wrap: wrap;
      text-align: start;
    }

    &__item {
      width: 354px;

      &:not(:nth-child(2n)) {
        margin-right: 30px;
      }
    }

    &__list-container {
    }
  }
}

@media screen and (min-width: 1200px) {
  .advantage {
    &__item {
      width: 270px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

// .advantage {
//   &__list {
//     display: flex;
//     align-items: center;
//   }

//   &__item {
//     &:not(:last-child) {
//       margin-right: 30px;
//     }
//   }

//   .advatage__list-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-bottom: 30px;
//     height: 120px;
//     background: #f5f4fa;
//     border-radius: 4px;
//   }

//   &__title {
//     width: 270px;
//     margin-bottom: 10px;
//   }

//   &__description {
//     color: $secondary-color;
//     margin-bottom: 0;
//   }
// }
