.advantage {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  .advatage__list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
  }

  &__title {
    width: 270px;
    margin-bottom: 10px;
  }

  &__description {
    color: $secondary-color;
    margin-bottom: 0;
  }
}
