.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    color: $logo-second-color;
  }
}

// before 768
@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;

    &__contacts-list {
      display: none;
    }

    &__mobile-burger-button {
      line-height: 0;
      background-color: transparent;
      border: none;
      padding: 0;
    }

    &__mobile-burger-icon {
      fill: #000000;

      &:active {
        fill: $main-accent-color;
      }
    }
  }

  .nav-menu {
    display: none;
  }
}

// 768+
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .header {
    &__mobile-burger-button {
      display: none;
    }

    &__nav {
      display: flex;
      align-items: center;
    }

    &__logo {
      margin-right: 88px;
      padding-top: 25px;
      padding-bottom: 25px;
    }

    &__contacts-icon {
      fill: currentColor;
      margin-right: 10px;
      transition-property: fill;
      transition-duration: $duration-action;
      transition-timing-function: $timing-function-action;

      .link:hover &,
      .link:focus &,
      .kink:active {
        fill: $main-accent-color;
      }
    }

    &__contacts-item {
      display: block;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__contacts-link {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      color: $secondary-color;
      transition-property: color;
      transition-duration: $duration-action;
      transition-timing-function: $timing-function-action;
    }

    &__contacts-list {
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: $secondary-color;
    }

    &__contacts-icon {
      fill: currentColor;
      margin-right: 10px;
      transition-property: fill;
      transition-duration: $duration-action;
      transition-timing-function: $timing-function-action;

      .link:hover &,
      .link:focus &,
      .link:active {
        fill: $main-accent-color;
      }
    }
  }

  .nav-menu {
    display: flex;
    align-items: center;

    &__item {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }

    &__link {
      position: relative;
      color: $main-color;
      padding-top: 32px;
      padding-bottom: 33px;
      transition-property: color;
      transition-duration: $duration-action;
      transition-timing-function: $timing-function-action;

      &.current {
        color: $main-accent-color;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    &__contacts-list {
      flex-direction: initial;
    }

    &__contacts-item {
      display: block;

      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 30px;
      }
    }
  }
}
//   &__logo {
//     margin-right: 93px;
//     color: $logo-second-color;
//   }

//   &__contacts-list {
//     display: flex;
//     align-items: center;
//     color: $secondary-color;
//   }

//   &__contacts-icon {
//     fill: currentColor;
//     margin-right: 10px;
//     transition-property: fill;
//     transition-duration: $duration-action;
//     transition-timing-function: $timing-function-action;

//     .link:hover &,
//     .link:focus & {
//       fill: $main-accent-color;
//     }
//   }

//   &__contacts-item {
//     &:not(:last-child) {
//       margin-right: 30px;
//     }
//   }

//   &__contacts-link {
//     display: flex;
//     flex-direction: row-reverse;
//     justify-content: center;
//     align-items: center;
//     color: $secondary-color;
//     padding-top: 31px;
//     padding-bottom: 32px;
//     transition-property: color;
//     transition-duration: $duration-action;
//     transition-timing-function: $timing-function-action;
//   }
// }

// .nav-menu {
//   display: flex;
//   align-items: center;

//   &__item {
//     &:not(:last-child) {
//       margin-right: 50px;
//     }
//   }

//   &__link {
//     position: relative;
//     color: $main-color;
//     padding-top: 31px;
//     padding-bottom: 32px;
//     transition-property: color;
//     transition-duration: $duration-action;
//     transition-timing-function: $timing-function-action;
//   }
// }
