.hero {
  background-color: $hero-bg-color;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/hero/hero@1x_mobile.jpg);
  background-size: cover;
  background-position: center;
  max-width: 480px;
  margin: 0 auto;

  &__container {
    text-align: center;
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $main-font-color-dark-bg;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
  }

  &__button {
    padding-left: 32px;
    padding-right: 32px;
  }
}

// .hero {
//   background-color: $hero-bg-color;
//   padding-top: 200px;
//   padding-bottom: 200px;
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/hero/hero.jpg);
//   background-size: cover;
//   background-position: center;
//   max-width: 1600px;
//   margin: 0 auto;

//   &__container {
//     text-align: center;
//   }

//   &__title {
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.36;
//     letter-spacing: 0.06em;
//     color: $main-font-color-dark-bg;
//     text-transform: uppercase;
//     margin-bottom: 30px;
//     margin-left: auto;
//     margin-right: auto;
//     width: 696px;
//   }

//   &__button {
//     padding-left: 32px;
//     padding-right: 32px;
//   }
// }
