@media screen and (max-width: 1199px) {
  .modal {
    max-width: 450px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition-property: opacity, visibility;
  transition-duration: $duration-action;
  transition-timing-function: $timing-function-action;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //   width: 450px;
  //   height: 609px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    transition-property: fill, border-color;
    transition-duration: $duration-action;
    transition-timing-function: $timing-function-action;

    &:hover,
    &:focus {
      fill: $main-accent-color;
    }
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;

  &__field {
    color: $secondary-color;
    margin-bottom: 10px;
  }

  &__input-wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
  }

  &__head {
    font-family: $main-font;
    color: $main-color;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition-property: border-color;
    transition-duration: $duration-action;
    transition-timing-function: $timing-function-action;

    &:focus {
      border-color: $main-accent-color;
      outline: none;
    }

    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
    }
  }

  &__icon {
    position: absolute;
    display: block;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    transition-property: fill;
    transition-duration: $duration-action;
    transition-timing-function: $timing-function-action;

    .modal-form__input:focus + & {
      fill: $main-accent-color;
    }
  }

  &__message {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    padding: 12px 16px;
    resize: none;
    transition-property: border-color;
    transition-duration: $duration-action;
    transition-timing-function: $timing-function-action;

    &:focus {
      border-color: $main-accent-color;
      outline: none;
    }

    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
    }
  }

  &__checkbox-policy {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-color;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px;
      width: 16px;
      height: 15px;
      border: 1.5px solid $main-color;
      border-radius: 2px;
    }

    .modal-form__checkbox:checked + &::before {
      background-image: url(../images/icon_check.svg);
      background-position: 50% 50%;
      border-color: transparent;
    }
  }

  &__submit-button {
    align-self: center;
    min-height: 50px;
    padding: 10px 55px;
    margin-top: 30px;

    &:hover,
    &:focus {
      background-color: $auxiliary-accent-color;
    }
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: $duration-action;
  transition-timing-function: $timing-function-action;
}
