.current {
  color: var(--main-accent-color);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    height: 4px;
    width: 100%;
    background: var(--main-accent-color);
    border-radius: 2px;
  }
}
