@mixin font($fw: 400, $fs: 14px, $lh: 0, $ls: 0.03em) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh / $fs;
  letter-spacing: $ls;
}

// before 1200
@media screen and (max-width: 1199px) {
  .title {
    @include font(700, 28px, 33px);
    text-align: center;
  }
}

.title {
  @include font(700, 36px, 42px);
  text-align: center;

  &__modal {
    @include font(700, 20px, 23px);
    text-align: center;
  }
}

.subtitle {
  @include font(700, 14px, 16px);
  text-transform: uppercase;

  &__second {
    @include font(500, 16px, 19px);
    text-align: center;
  }

  &__third {
    @include font(700, 18px, 36px, 0.06em);
  }

  &__modal {
    @include font($fs: 12px, $lh: 14px, $ls: 0.01em);
  }
}

.description {
  @include font($lh: 24px);

  &__second {
    @include font($fs: 16px, $lh: 19px);
    text-align: center;
  }

  &__third {
    @include font($fs: 16px, $lh: 30px);
  }

  &__overlay {
    @include font($fs: 18px, $lh: 28px);
  }
}

.link-nav {
  @media screen and (min-width: 768px) {
    @include font(500, $fs: 14px, $lh: 16px, $ls: 0.02em);
  }

  // MODAL MENU WINDOW //
  @media screen and (max-width: 767px) {
    @include font(500, 40px, 47px, 0.02em);
  }

  &__phone {
    @media screen and (max-width: 767px) {
      @include font(500, 34px, 40px, 0.02em);
    }
  }

  &__email {
    @media screen and (max-width: 767px) {
      @include font(500, 24px, 28px, 0.02em);
    }
  }

  &__social-list {
    @media screen and (max-width: 767px) {
      @include font(500, 18px, 22px, 0.02em);
    }
  }
}

.link-nav-tablet {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @include font(500, $fs: 12px, $lh: 14px, $ls: 0.02em);
  }
}

.placeholder {
  @include font($fs: 16px, $lh: 20px);
}

.button {
  @include font(700, 16px, 30px, 0.06em);
}

.radio-button {
  @include font(500, 16px, 26px);
  text-align: center;
}
