$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;

$main-accent-color: #2196f3;
$auxiliary-accent-color: #188ce8;

$main-color: #212121;
$secondary-color: #757575;
$third-color: #2196f3;
$auxiliary-color: rgba(255, 255, 255, 0.6);

$shadow-color: 0px 4px 4px rgba(0, 0, 0, 0.15);

$main-font-color-dark-bg: #ffffff;

$logo-first-color: #2196f3;
$logo-second-color: #000000;
$logo-third-color: #ffffff;

$white-bg-color: #ffffff;
$main-bg-color: #2f303a;
$secondary-bg-color: #f5f4fa;
$auxiliary-bg-color: rgba(255, 255, 255, 0.1);
$hero-bg-color: #c4c4c4;

$button-bg-color: #2196f3;

$social-icon-color: #afb1b8;

$duration-action: 250ms;
$timing-function-action: cubic-bezier(0.4, 0, 0.2, 1);
